<head>
	<title>{% block title %}Home • Panini{% endblock %}</title>
	<meta name="author" content="MrPowerGamerBR">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ websiteUrl }}assets/style.css">
	<link rel="stylesheet" type="text/css" href="{{ websiteUrl }}assets/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/055e611427.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
<div id="adminHeader">
<div class="paniniTitle">Panini</div>
</div>
{% block sidebar %}
<div id="leftSidebar">
<div class="options">
<i class="fa fa-file-text" aria-hidden="true"></i> Postagens
</div>
</div>
{% endblock %}
<div id="rightSidebar">
{% block content %}

{% endblock %}
</div>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("markdownContent") });
</script>
</body>